<h1 align="center">Create a user</h1>

<%= form_for @user do |f| %>
    <p>
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name %>
    </p>
    
    <p>
      <%= f.label :first_name %><br/>
      <%= f.text_area :first_name %>
    </p>
    
    <p>
      <%= f.submit %>
    </p>

<% end %>

<img src="/assets/Screen Shot 2016-09-15 at 7.44.24 PM.png">